<div style="width: 100vw">
    <div style="float: left; width: 50%">
        <a href='/' class="navigation">Main page</a>
        <a href='/feedback' class="navigation">Give feedback</a>
    </div>
    <div style="float: left; width: 50%; text-align: right">
        <a href="=/admin/login" class="navigation">Login</a>
    </div>
    <br style='clear: left;'>
</div>
