<h1>Sign in</h1>
<br>
{{> navigation}}
<br>
<div class="formbox">
    <form action="/login/password" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" autocomplete="username" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" autocomplete="password" placeholder="Enter your password" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</div>