<h1>Write a new post</h1>
<br>
{{> navigation}}
<br>
<form action="/admin/save-post" method="POST">
    <label for="text">New post:</label><br>
    <textarea name="text" rows="5" cols="50"></textarea>
    <button type="submit">Send</button>
</form>
<br>
<br>
<form action="/admin/logout" method="POST">
    <button type="submit">Log out</button>
</form>