body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    background-color: blueviolet;
    color:aqua;
    padding: 1em 2em;
}

.navigation {
    margin: 10px;
}